<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>Trabaja Práctico Nº 4</title>
	    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	    <link th:rel="stylesheet" th:href="@{/css/estilos.css}"> 
	</head>
<body>
	<!-- Header -->
	 <header th:replace="/layouts/header :: header"> </header>

    <div class="container my-4">
        <div class="row">

            <!-- Contenido Principal -->
            <main class="col-md-9">
                <section>
                    <h2>Sobre Nosotros</h2>
                    <p>La Facultad de Veterinaria de la Universidad Nacional de Jujuy se dedica a la formación de profesionales en el campo de la medicina veterinaria, con un fuerte énfasis en la salud animal y la investigación.</p>
                </section>

                <section class="mt-4">
                    <h2>Noticias Recientes</h2>
                    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-1">
                        <!-- Tarjeta 1-->  
                        <div class="col">
                            <div class="card h-100">
                              <a href="https://www.infobae.com/perros-y-gatos/2024/05/24/caza-indiscriminada-de-pumas-que-medidas-se-pueden-llevar-a-cabo-para-proteger-a-los-felinos/">
                                  <img src="https://www.infobae.com/new-resizer/fX9WZ0wOy5aSpOorU_epSsTNkTA=/992x558/filters:format(webp):quality(85)/cloudfront-us-east-1.images.arcpublishing.com/infobae/YYBHU6NQLBCL3MMKR2GKGN3MOQ.jpg" class="card-img-top" alt="..." >
                              </a>
                              
                              <div class="card-body">
                                <h5 class="card-title">Caza indiscriminada de pumas</h5>
                                <p class="card-text"> Qué medidas se pueden llevar a cabo para proteger a los felinos </p>
                              </div>
                            </div>
                          </div>
                        <!-- Tarjeta 2-->  
                        <div class="col">
                            <div class="card h-100">
                              <a href="https://www.clarin.com/videos/paraiso-animales-vivir-800-animales-rescatados-maltrato_0_puCscuCKKJ.html">
                                  <img src="https://www.clarin.com/img/2024/05/08/W7lhSpSYs_1256x620__1.jpg" class="card-img-top" alt="..." >
                              </a>
                              
                              <div class="card-body">
                                <h5 class="card-title">El Paraíso de los Animales</h5>
                                <h6 class="card-subtitle"> Cómo es vivir con más de 800 animales rescatados del maltrato </h6>
                                <p class="card-text"> Clarín fue a General Rodríguez para conocer cómo funciona el lugar de rescate que es sostenido por donaciones a cuenta gota</p>
                              </div>
                            </div>
                          </div>
                    </div>
                   
                </section>
            </main>

            <!-- Aside -->
            <aside th:replace="/layouts/aside :: aside"></aside>
        </div>
    </div>
    
    <!-- Footer -->
	<footer th:replace="/layouts/footer :: footer"></footer>

	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>